.ar,
.list,
.head {
    display: inline;
}

.ar {
    padding-left: 40px;
}

nav {
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.qw {
    text-decoration: none;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 25%;
    border-radius: 50%;
    width: 200px;

}

img {
    display: flex;
    justify-content: center;
}